.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 5rem;
  bottom: 1rem;
}

.socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

// Media Queries

@media screen and (max-width: 600px) {
  .header__socials {
    display: none;
  }
}
